<div class="   py-20">
    <h1 class="text-5xl font-bold text-center pb-10">
        <span class="text-blue-700">How</span> Snippet page work
    </h1>

    <div class="max-w-6xl mx-auto flex flex-col gap-1 px-5">

        <div
            class="flex flex-col md:flex-row bg-white   rounded-xl md:bg-transparent shadow-lg shadow-black/20 md:shadow-none gap-1">
            <div class="flex justify-center md:justify-end">
                <div class="  bg-white  shadow-lg rounded-xl p-4 flex justify-center items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
                    </svg>

                </div>
            </div>
            <div
                class="bg-white w-full shadow-lg rounded-md p-4 hover:bg-gradient-to-r hover:from-red-50 hover:to-sky-50">
                <h1 class="font-bold text-xl  ">{{ item.title }} </h1>
                <pre>
                    {{ item.snippet }}
                </pre>
            </div>
        </div>

    </div>
</div>